@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --pink:#e84393;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --yellow:#f0c346;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
 }
 html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
 }
 
 body{
    background: var(--light-bg);
 }
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}



.btn-login,
.btnRegister,
.delete-btn,
.option-btn{
   display: inline-block;
   border-radius: .5rem;
   font-size: 1.8rem;
   color:var(--white);
   cursor: pointer;
   padding:1rem 3rem;
   text-transform: capitalize;
}

.btn-login{
   background-color: var(--yellow);
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.btn-login:hover,
.btnRegister:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.box{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    background-color: var(--light-bg);
    margin:1rem 0;
    border-radius: .5rem;
 }
 .form-p{
     margin-top: 1.5rem;
     font-size: 2rem;
     color:var(--light-color);
 }


#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/
.carousel-item {
    height: 100vh;
    background-color: #f5f5f5;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.display-4 {
    font-size: 3rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.25rem;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background: var(--bs-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 152px !important;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
    
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/



/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}
/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}
  
.pagination a:hover:not(.active) {background-color: var(--bs-primary)}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}
/*** Single Page End ***/


/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
/*** Footer End ***/


/* 
 Contact Us Section */

.contact-section
{
    margin-top: 50px;
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(../image/background-contact.webp);
    background-size: cover;
}

.contact-section .contact-content{
    max-width: 800px !important;
    text-align: center !important;
    color:#fff;
}

.contact-section .contact-content h2{
    font-size: 36px;
    font-weight: 500;
}

.contact-container
{
    width:100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin-top: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Optional for better readability */
    border-radius: 10px;
}

.contact-item i {
    font-size: 24px;
    color: teal;
}

.contact-item h3 {
    margin: 0;
    font-size: 20px;
    color: teal;
}

.contact-item p {
    margin: 0;
    color: white;
}

.icon-location::before {
    content: "\1F4CD"; /* Placeholder for location icon */
}

.icon-phone::before {
    content: "\260E"; /* Placeholder for phone icon */
}

.icon-email::before {
    content: "\2709"; /* Placeholder for email icon */
}


.contact-form{
    width: 40% !important;
    padding: 40px;
    background:#fff;
}

.contact-form h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;
}

.contact-form .input-box{
    position:relative !important;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contact-form .input-box span{
    position: absolute !important;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span
.contact-form .input-box textarea:focus ~ span
.contact-form .input-box textarea:valid ~ span
{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color:#fff;
    cursor: pointer;
    padding: 10px;
    border: none !important;
    font-size: 18px;
}


@media(max-width: 991px)
{
    .contact-section{
        padding: 50px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-container .contact-info, .contact-form
    {
        margin-bottom: 40px;
    }
    /* html{
        font-size: 55%;
    } */
}



